<h2 class="main-body-title">Write your blog</h2>

<form action="/write" method="POST" class="blog-form">
    <input type="text" id="title" name="title" placeholder="Enter the title of your blog" required>
    <textarea name="content" id="content" placeholder="Write your blog here" rows="15" required></textarea>
    <button type="submit">Submit</button>
</form>