<%- include("partials/header.ejs") %>

<h1 class="title">GLOB</h1>

    <ul class="navbar">
        <li>
            <a href="/write">Write blog</a>
        </li>
        <li>
            <a href="/read">Read blogs</a>
        </li>
    </ul>

    <div class="main-body">
        <%- include("partials/write.ejs") %>
    </div>
</div>

<%- include("partials/footer.ejs") %>